@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.scroll-up-btn{
    position: fixed;
    text-align: center;
    line-height: 45px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.top-arrow{
    height: 45px;
    width: 45px;
    background: #525252;
    font-size: 20px;
    color: #fff;
    left: 30px;
    border-radius: 50%;
}

.scroll-up-btn.message-box{
    height: 45px;
    width: 45px;
    right: 30px;
}

.scroll-up-btn.show{
    bottom: 100px;
    opacity: 1;
    pointer-events: auto;
}

.max-width{
	max-width: 1560px;
	margin: auto;
}

.container-fluid {
	padding: 0 0;
}

.navbar {
    background-color: transparent;
	padding: 0px 0px;
}

.navbar-bg-color {
	background-color: #525252;
}

.navbar .navbar-brand {
	margin: 0px 10px;
}

.navbar.navbar-bg-color .navbar-brand img {
	width: 73px;
    height: 54px;
}

.navbar .navbar-nav li {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .navbar-nav .rounded-link {
	background-color: #29626D;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 25px;
    margin: 0px 5px;
}

.navbar .navbar-nav .rounded-link-transparent {
	background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 25px;
    margin: 0px 5px;
}

.navbar-bg-color .navbar-nav .rounded-link {
	background-color: #29626D;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 25px;
    margin: 0px 5px;
}

.navbar-bg-color .navbar-nav .rounded-link-transparent {
	background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 25px;
    margin: 0px 5px;
}

.navbar .navbar-nav li a {
    padding: 0px;
    line-height: 40px;
    font-size: 17px;
    color: #FFFFFF !important;
}

.navbar .navbar-toggler {
	border: 1px solid #FFFFFF;
	margin: 0px 20px;
}

.navbar .navbar-toggler .fa-bars {
	color: #FFFFFF;
}

@media (max-width : 768px) {
	.navbar .navbar-brand img {
		width: 73px;
		height: 54px;
	}
}

@media (max-width : 1200px){
	.navbar-collapse .navbar-nav {
		align-items: center;
		background: #FFFFFF;
		height: 100vh;
		width: 250px;
		position: absolute;
		right: 0;
		border-bottom: 2px solid #E1E1E1;
		overflow-y: auto;
	}
	.navbar .navbar-nav li {
		margin: 5px 0px;
	}
	.navbar .navbar-nav li a {
		padding: 0px;
		line-height: 40px;
		font-size: 17px;
		color: #4F4F4F !important;
		background: transparent !important;
		border: none;
	}
	.service-history .sidebar-table .sidebar {
		display: none;
	}
	.upcoming-service .sidebar-table .sidebar {
		display: none;
	}
}

@media (max-width : 1200px) {
	.admin .sidebar-table .sidebar {
		z-index: 999;
		left: 0;
	}
	.admin .sidebar-table .sidebar {
		transform: translateX(-100%);
		transition: transform 0.5s;
		width: 0 !important;
		opacity: 0;
		visibility: hidden;
	}
	.admin .sidebar-table .sidebar.show {
		transform: translateX(0);
		width: auto !important;
		height: 100vh;
    	opacity: 1;
		visibility: visible;
		position: absolute;
		overflow-y: auto;
	}
}

.home{
	background: url("../images/Landing-Page-background-image.png") no-repeat center;
	min-height: 100vh;
    background-size: cover;
	color: white;
	font-family: 'Roboto';
	text-align: center;
	letter-spacing: 0px;
	opacity: 1;
}
.home .max-width{
	max-width: 1560px;
	margin: auto;
}
.home .home-content {
	margin-left: 55px;
	margin-bottom: 15px;
	padding-top: 260px;
}
.home .home-content .text-1{
	font-size: 50px;
	text-align: left;
}
.home .home-content .text-2{
	font-size: 16px;
	text-align: left;
}
.home .button{
	text-align: center;
}
.home .button-cleaner{
	background-color: #005F7199;
	border-color: white;
	border-width: 1px;
	border-radius: 30px;
	width: 225px;
	height: 54px;
	font-family: 'Roboto';
	color: white;
	font-size: 18px;
	text-align: center;
}
.home .pay-service {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
}

@media (max-width : 768px) {
	.home .pay-service {
		flex-direction: column;
	}
	.home .pay-service .pay-content .pay-arrow {
		transform: rotate(90deg);
		padding: 30px 0px !important;
	}
}

.home .pay-service .pay-content {
	display: inline-block;
	justify-content: center;
	padding: 10px 10px;
}
.home .pay-service .pay-content span {
	font-family: 'Roboto';
	font-size: 20px;
	color: #FFFFFF;
}
.home .pay-service .pay-content .pay-image {
	height: 63px;
}
.home .pay-service .pay-content .pay-arrow {
	padding-bottom: 80px;
}
@media (max-width:1083px) {
	.home .pay-service .pay-content .pay-arrow {
		padding-bottom: 100px;
	}
}
.home .pay-service .arrow {
	padding: 42px 0px;
}

.why-helperland{
    background-size: cover;
	padding: 10px 15px;
	text-align: center;
}
.why-helperland .max-width{
	max-width: 1200px;
	margin: auto;
}
.why-helperland .helperland-content {
	margin: 50px 0px;
}
.why-helperland .helperland-content .text-1{
	font-family: 'Roboto';
	color: #4F4F4F;
	text-align: center;
	font-size: 40px;
}
.why-helperland .helperland-images .img-fluid {
	margin-bottom: 30px;
	border-radius: 160px !important;
	text-align: center;
}
.why-helperland .helperland-images span{
	font-size: 17px;
	font-family: 'Roboto';
	color: #565656;
}

.blog{
    background-size: cover;
	padding: 10px 15px;
	font-family: 'Roboto';
	text-align: center;
	letter-spacing: 0px;
	opacity: 1;
}
.blog .blog-img-left {
	position: absolute;
	left: 0%;
	z-index: -1;
}
.blog .blog-img-right {
	position: absolute;
	right: 0%;
	z-index: -1;
}
.blog .max-width{
	max-width: 1162px;
	margin: auto;
}
.blog .blog-content {
	text-align: left;
}

@media (max-width : 992px) {
	.blog .blog-content {
		text-align: center;
	}
}

.blog .blog-content .lorem{
	font-family: 'Roboto';
	font-size: 30px;
	color: #4F4F4F;
}
.blog .blog-content p{
	font-family: 'Roboto';
	font-size: 18px;
}
.blog .row .bloggroup-img img{
	width: 403px;
	height: 336px;
}
@media (max-width : 440px) {
	.blog .row .bloggroup-img img {
		width: 300px;
		height: auto;
	}
	.blog .blog-images .blog-img-text p {
		text-align: center;
		justify-items: center;
	}
	.blog .blog-images .blog-img-text .blog-img {
		width: 300px;
		height: auto;
	}
}
.blog .our-blog {
	margin: 50px 0px;
}
.blog .our-blog p{
	font-family: 'Roboto';
	font-size: 40px;
	color: #4F4F4F;
}
.blog .blog-images {
	margin-bottom: 50px;
}
.blog .blog-images .blog-img-text{
	display: inline-block;
}
.blog .blog-images .blog-img-text .blog-img {
	width: 357px;
	height: 164px;
}
.blog .blog-images .blog-readpost .blog-arrow {
	width: 29px;
	height: 9px;
}
.blog .blog-images .blog-lorem{
	font-family: 'Roboto';
	font-size: 20px;
	color: #3D4046;
	text-align: left;
}
.blog .blog-images .blog-date{
	font-family: 'Roboto';
	font-size: 13px;
	color: #A3A3A3;
	text-align: left;
}
.blog .blog-images .blog-text{
	font-family: 'Roboto';
	font-size: 16px;
	color: #565656;
	text-align: left;
}
.blog .blog-images .blog-readpost{
	font-family: 'Roboto';
	font-size: 18px;
	color: #4F4F4F;
	text-align: left;
} 

.customer-say{
	background-color: #F4F5F8;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
	text-align: center;
	letter-spacing: 0px;
	opacity: 1;
}
.customer-say .max-width{
	max-width: 1200px;
	margin: auto;
}
.customer-say .customer-content .customer{
	font-family: 'Roboto';
	color: #4F4F4F;
	font-size: 40px;
	text-align: center;
	padding-top: 57px;
	padding-bottom: 57px;
}
.customer-say .customer-content .col{
	display: flex;
	justify-content: center;
}
.customer-say .customer-content .col .card{
	width: 357px;
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left-color: #4C95A3 !important;
	border-width: 3px;
}
.customer-say .customer-content .col .card .card-body .card-text {
	font-family: 'Roboto';
	font-size: 16px;
	color: #565656;
	padding: 0px 0px !important;
}
.newsletter{
	font-family: 'Roboto';
	color: #353548;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	opacity: 1;
	margin-top: 40px;
}
.your-email {
	background-color: #F4F5F8;
	border-radius: 20px;
	border: 1px solid #565656;
	width: 223px;
	height: 40px;
	font-size: 14px;
	color: #565656;
	text-align: left;
	padding-left: 22px;
}

.get-news-submit {
	background-color: #FF7B6D;
	color: #FFFFFF;
	width: 88px;
	height: 40px;
	border-radius: 20px;
	margin-bottom: 53px;
	border: 1px solid #FF7B6D
}

footer{
    background-color: #111111;
}

footer .footer-max-width{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    color: #F1F1F1;
}

footer .footer-max-width .nav li a{
	font-family: 'Roboto';
	font-size: 14px;
    color: #F1F1F1;
}

footer .footer-max-width .logo img{
    width: 120px;
}

footer .footer-max-width .social-icon a{
    margin: 0px 10px;
}

footer .footer-underline {
	max-width: 1320px;
	background: #FFFFFF;
	margin: auto;
}

footer .privacy-policy{
	font-family: 'Roboto';
	font-size: 14px;
    text-align: center;
    background-color: #292929;
    color: #F1F1F1;
    padding: 10px;
}

footer .footer-privacy-policy {
	font-family: 'Roboto';
	color: #6F6F6F;
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer .privacy-policy span{
    color: #6EABEF;
}

footer .privacy-policy button{
	font-family: 'Roboto';
	font-size: 16px;
	color: #4F4F4F;
    background: #EED507;
    border-radius: 20px;
    padding: 5px 30px;
	border: 1px solid #EED507;
}

@media (max-width : 992px) {
	footer .footer-max-width {
		justify-content: center;
	}
}


/* FAQ page start */

.faq .max-width {
	max-width: 964px;
	margin: auto;
}
.faq .faq-content {
	color: #4F4F4F;
	font-family: 'Roboto';
	font-size: 16px;
	text-align: center;
	letter-spacing: 0px;
	opacity: 1;
}
.faq .faq-content .text-1 {
	margin-top: 68px;
	font-family: 'Roboto';
	font-size: 18px;
}
.star-title::before {
	content: "";
	position: absolute;
	height: 1px;
	width: 166px;
	bottom: -26px;
	left: 50%;
	background-color: #CCCCCC;
	transform: translate(-50%);
}

.star-title::after {
	content: "";
	display: block;
	position: absolute;
	height: 25px;
	width: 43px;
	bottom: -38px;
	left: 50%;
	transform: translate(-50%);
	font-size: 20px;
	background: transparent url("../images/separator.png") no-repeat center;
}

.faq .faq-content .faq-tab .nav-link.active {
	font-family: 'Roboto';
	font-size: 24px;
	background: #1D7A8C;
	border-bottom: 2px solid #1D7A8C;
	color: #FFFFFF;
	border-radius: 0px;
}

.faq .faq-content .faq-tab .nav-link:not(.active) {
	font-family: 'Roboto';
	font-size: 24px;
	background: #F6F6F6;
	color: #646464;
	border-bottom: 2px solid #1D7A8C;
	border-radius: 0px;
}

.faq .faq-content .accordion .accordion-item {
	border: none;
}

.faq .faq-content .accordion .accordion-item .accordion-header {
	border: none;
}

.faq .faq-content .accordion .accordion-button::before{
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-image: url("../images/right-arrow.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    margin-right: 15px;
}

.faq .faq-content .accordion .accordion-button::after{
	display: none;
}

.faq .faq-content .accordion .accordion-button:not(.collapsed)::before {
    transform: rotate(90deg);
}

.faq .faq-content .accordion .accordion-button {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 16px;
    color: #646464;
}

.faq .faq-content .accordion .accordion-button:not(.collapsed) {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 16px;
    color: #646464;
    background-color: transparent;
}

.faq .faq-content .accordion .accordion-body {
	font-family: 'Roboto';
	font-size: 16px;
	color: #646464;
}

/* FAQ page end */


/* prices page start */

.prices {
	margin-bottom: 50px;
}
.prices .max-width {
	margin: auto;
	max-width: 1140px;
}
.titleimage img {
	width: 100%;
	margin-top: 64px;
}
.star-title {
	font-family: 'Roboto';
	font-size: 36px;
	color: #4F4F4F;
	text-align: center;
	margin-top: 31px;
	margin-bottom: 76px;
}
.prices .card {
	max-width: 553px;
	min-height: 304px;
	border: 1px solid #B0C9CE;
}
.prices .card .card-header {
	background-color: #1D7A8C;
	font-size: 28px;
	font-family: 'Roboto';
	color: #FFFFFF;
	text-align: center;
	opacity: 1;
}
.prices .card .card-header .euro-20-hour {
	margin-top: 15px;
	margin-bottom: 15px;
}

.prices .card .card-body {
	margin: auto;
}

.prices .card .card-body .euro {
	font-family: 'Roboto';
	font-size: 50px;
	text-align: center;
	letter-spacing: NaNpx;
	color: #646464;
	opacity: 1;
}
.prices .card .card-body .card-title {
	font-family: 'Roboto';
	font-size: 50px;
	text-align: center;
	letter-spacing: NaNpx;
	color: #646464;
	opacity: 1;
}
.prices .card .card-body .per-hour {
	font-family: 'Roboto';
	font-size: 30px;
	text-align: center;
	letter-spacing: NaNpx;
	color: #646464;
	opacity: 1;
}

.prices .card .card-body .card-images {
	padding-bottom: 10px;
	text-align: left;
}

.prices .card .card-body .card-text {
	font-family: 'Roboto';
	color: #646464;
	font-size: 16px;
}
.breaking-line {
	max-width: 1140px;
	background-color: #646464;
	margin-top: 50px;
	margin-bottom: 50px;
}
.prices .extra-service {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.prices .extra-service .extra-content {
	display: inline-block;
	width: 140px;
	justify-content: center;
	margin: 10px 40px;
}
.prices .extra-image {
	width: 108px;
	height: 108px;
	display: flex;
	justify-content: center;
	border: 1px solid;
	border-radius: 64px;
	margin: auto;
}
.prices .extra-image img {
	margin: auto;
}
.prices .extra-text {
	text-align: center;
}
.prices .extra-content .extra-text-1 {
	font-family: 'Roboto';
	font-size: 16px;
	color: #646464;
	text-align: center;
	opacity: 1;
}
.prices .extra-content .extra-text-2 {
	font-family: 'Roboto';
	font-size: 18px;
	color: #1D7A8C;
	text-align: center;
	opacity: 1;
}

.what-include {
	background-color: #F6F6F6;
	padding: 40px 0px 70px 0px;
}
.what-include .what-include-service {
	text-align: center;
}
.what-include .what-include-service .what-include-content {
	display: inline-block;
	justify-content: center;
	padding: 15px 15px;
}
.what-include .what-include-service .what-include-content .what-include-image {
	display: flex;
	justify-content: center;
}
.what-include .what-include-service .what-include-content .what-include-text {
	text-align: left;
}
.what-include .what-include-service .what-include-content .what-include-text .what-include-text-1 {
	font-family: 'Roboto';
	font-size: 20px;
	color: #4F4F4F;
	opacity: 1;
	letter-spacing: 0px;
}
.what-include .what-include-service .what-include-content .what-include-text .what-include-text-2 {
	font-family: 'Roboto';
	font-size: 16px;
	color: #4F4F4F;
	opacity: 1;
	letter-spacing: 0px;
	padding-bottom: 14px;
}

.price-why-helperland {
	padding-top: 40px;
}

.price-why-helperland .max-width {
	max-width: 1100px;
}

.price-why-helperland .price-why-helperland-review {
	padding-bottom: 40px;
	text-align: center;
}

.price-why-helperland .price-why-helperland-review .price-why-helperland-text {
	margin: 10px 0px;
}

@media (max-width: 992px) {
	.price-why-helperland .price-why-helperland-review .price-why-helperland-text .why-text-left {
		text-align: center;
	}
	.price-why-helperland .price-why-helperland-review .price-why-helperland-text .why-text-right {
		text-align: center;
	}
}

.price-why-helperland .price-why-helperland-review .price-why-helperland-text-1 {
	font-family: 'Roboto';
	font-size: 20px;
	color: #646464;
	opacity: 1;
	letter-spacing: 0px;
	text-align: right;
}
.price-why-helperland .price-why-helperland-review .price-why-helperland-text-2 {
	font-family: 'Roboto';
	font-size: 14px;
	color: #646464;
	opacity: 1;
	letter-spacing: 0px;
	text-align: right;
}

.price-why-helperland .price-why-helperland-text .why-text-left {
	text-align: right;
}
.price-why-helperland .price-why-helperland-text .why-text-right {
	text-align: left;
}
/* prices page end */


/* contact page start */

.contact-us .max-width {
	margin: auto;
	max-width: 1560px;
}
.contact-us .contact-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.contact-us .contact-body .contact-service {
	display: inline-block;
	justify-content: center;
	text-align: center;
	padding: 10px 10px;
	margin: auto;
}
.contact-us .contact-body .contact-service .contact-text .contact-text-1 {
	font-family: 'Roboto';
	font-size: 16px;
	color: #4F4F4F;
	opacity: 1;
	letter-spacing: 0px;
}
.contact-us .contact-content .getin_touch{
	font-family: 'Roboto';
	font-size: 28px;
	margin-bottom: 20px;
	text-align: center;
}
.contact-us .message {
	max-width: 600px;
}
.contact-us .message .input {
	font-family: 'Roboto';
	font-size: 16px;
	opacity: 1;
	letter-spacing: 0px;
	padding-left: 10px;
	width: 100%;
	height: 46px;
	margin-top: 5px;
	color: #A0A0A0;
}
.contact-us .message select {
	font-family: 'Roboto';
	font-size: 16px;
	opacity: 1;
	letter-spacing: 0px;
	padding-left: 10px;
	width: 100%;
	height: 46px;
	margin-top: 5px;
	color: #A0A0A0;
}
.contact-us .message textarea {
	font-family: 'Roboto';
	font-size: 16px;
	opacity: 1;
	letter-spacing: 0px;
	padding-left: 10px;
	width: 100%;
	height: 146px;
	margin-top: 5px;
	color: #A0A0A0;
}
.contact-us .message .submit {
	font-family: 'Roboto';
	font-size: 20px;
	opacity: 1;
	letter-spacing: 0px;
	width: 163px;
	height: 46px;
	margin-top: 5px;
	color: #FFFFFF;
	background-color: #1D7A8C;
	border-radius: 23px;
	border: 1px solid #1D7A8C;
}
.contact-us .mapimage iframe {
	width: 100%;
	height: 400px;
	margin-top: 80px;
}

/* contact page end */


/* about page start */

.about-us .max-width {
	max-width: 990px;
	margin: auto;
}

.about-us .about-content {
	font-family: 'Roboto';
	color: #4F4F4F;
	opacity: 1;
	letter-spacing: 0px;
}

.about-us .about-body {
	font-family: 'Roboto';
	font-size: 16px;
	color: #646464;
	opacity: 1;
	letter-spacing: 0px;
	margin-bottom: 40px;
}

/* about page end */


/* service-provider start page */

.service-provider {
	background: url("../images/become-a-pro-banner.png") no-repeat center;
	width: auto;
	height: 930px;
    background-size: cover;
	color: white;
	font-family: 'Roboto';
	text-align: center;
	letter-spacing: 0px;
	opacity: 1;
}

.service-provider .max-width {
	padding-top: 152px;
	max-width: 1240px;
	margin: auto;
}

.service-provider .max-width .service-content {
	max-width: 430px;
	padding: 19px 35px;
	background-color: #FFFFFF;
	top: 152px;
}

.service-provider .max-width .service-content .register-text {
	font-family: 'Roboto';
	opacity: 1;
	letter-spacing: 0px;
	color: #4F4F4F;
	padding: 15px 0px;
}

.service-provider .max-width .service-content .register-inputs input {
	font-family: 'Roboto';
	font-size: 16px;
	opacity: 1;
	letter-spacing: 0px;
	padding-left: 10px;
	width: 100%;
	height: 46px;
	margin: 10px 0px;
	color: #A0A0A0;
}

.service-provider .max-width .service-content .register-inputs .checkbox {
	width: 20px;
	height: 20px;
	margin: 10px 0px;
	color: #A0A0A0;
	text-align: left;
}

.service-provider .max-width .service-content .register-inputs label {
	width: 335px;
	height: 20px;
	text-align: left;
	font-family: 'Roboto';
	font-size: 16px;
	opacity: 1;
	letter-spacing: 0px;
	padding-left: 5px;
	margin: 10px 0px;
	color: #A0A0A0;
}

.service-provider .max-width .service-content .register-inputs button {
	width: 166px;
	height: 46px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
	opacity: 1;
	letter-spacing: 0px;
	padding-left: 5px;
	margin: 10px 0px;
	color: #FFFFFF;
	background-color: #1D7A8C;
	border-color: solid #1D7A8C;
	border-radius: 23px;
}

.howitworks .max-width {
	max-width: 760px;
	margin: auto;
}

.howitworks .max-width .howitworks-content {
	margin : 50px 0px;
}

.howitworks .max-width .howitworks-content .img-left {
	text-align: right;
}

.howitworks .max-width .howitworks-header {
	font-family: 'Roboto';
	color: #4F4F4F;
	text-align: center;
	margin: 50px 0px;
}

.howitworks .max-width .text-set {
	margin: 50px 0px;
}

.howitworks .max-width .register-text {
	font-family: 'Roboto';
	font-size: 18px;
	color: #4f4f4f;
}

/* service-provider end page */


/* upcoming-service start page */

.navbar-upcoming-service {
	background-color: #525252;
	height: 64px;
}

.navbar-upcoming-service .rectangle-line1 {
	width: 1px; 
	height: 48px; 
	background-color: white;
	margin-left: 15px;
}

.navbar-upcoming-service .rectangle-line2 {
	width: 1px; 
	height: 48px; 
	background-color: white;
	margin-right: 15px;
}

.navbar-upcoming-service .collapse .dropdown .dropdown-menu {
	background-color: #525252;
	margin-right: 10px;
}

.upcoming-service {
	margin-top: 64px;
}

.upcoming-service .max-width {
	max-width: 1560px;
	margin: auto;
}

.upcoming-service .upcoming-service-content {
	background-color: #F9F9F9;
}

.upcoming-service .upcoming-service-content .user-name {
	height: 119px;
	text-align: center;
}

.upcoming-service .upcoming-service-content .user-name span {
	font-family: 'Roboto';
	font-size: 30px;
	letter-spacing: 0px;
	color: #4F4F4F;
	opacity: 1;
	height: 119px;
	text-align: center;
	top: 40px;
	position: relative;
}

.upcoming-service .sidebar-table {
	display: flex;
	justify-content: center;
	margin-top: 31px;
	margin-bottom: 15px;
}

.upcoming-service .sidebar-table .sidebar {
	margin: 0;
	padding: 0;
	width: 262px;
	text-align: left;
	background-color: #1D7A8C;
	margin-right: 15px;
	margin-bottom: 15px;
}

.upcoming-service .sidebar-table .sidebar a {
	font-family: 'Roboto';
	font-size: 18px;
	color: #FFFFFF;
	display: block;
	border-bottom: 1px solid #FFFFFF;
	padding: 16px;
	text-decoration: none;
}

.upcoming-service .sidebar-table a.active {
	background-color: #146371;
	color: #FFFFFF;
}

.upcoming-service .sidebar-table .sidebar a:hover:not(.active) {
	background-color: #146371;
	color: white;
}

.upcoming-service .sidebar-table .customer-table {
	margin-bottom: 15px;
}

.upcoming-service .sidebar-table .table {
	width: 845px;
	border: 1.2px solid #E1E1E1 !important;
}

.upcoming-service .sidebar-table .table thead {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: left;
	color: #646464;
	opacity: 1;
	letter-spacing: 0px;
	background: #F9F9F9 !important;
}

.upcoming-service .sidebar-table .table.dataTable thead .sorting{
    background-image: none !important;
    background-size: 12px;
}

.upcoming-service .sidebar-table .table tbody tr td {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: left;
	color: #646464;
	opacity: 1;
	padding-left: 10px;
	letter-spacing: 0px;
	background: #FFFFFF !important;
}

.upcoming-service .sidebar-table .table .btn-cancel {
	font-family: 'Roboto';
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	width: 80px;
	height: 34px;
	border-radius: 17px;
	background: #FF6B6B;
	border: 1px solid #FF6B6B;
}

/* upcoming-service end page */


/* service-history start page */

.service-history {
	margin-top: 64px;
}

.service-history .max-width {
	max-width: 1560px;
	margin: auto;
}

.service-history .service-history-content {
	background-color: #F9F9F9;
}

.service-history .service-history-content .user-name {
	height: 119px;
	text-align: center;
}

.service-history .service-history-content .user-name span {
	font-family: 'Roboto';
	font-size: 30px;
	letter-spacing: 0px;
	color: #4F4F4F;
	opacity: 1;
	height: 119px;
	text-align: center;
	top: 40px;
	position: relative;
}

.service-history .sidebar-table {
	display: flex;
	justify-content: center;
	margin-top: 31px;
	margin-bottom: 15px;
}

.service-history .sidebar-table .sidebar {
	margin: 0;
	padding: 0;
	width: 262px;
	text-align: left;
	background-color: #1D7A8C;
	margin-right: 31px;
	margin-bottom: 15px;
}

.service-history .sidebar-table .sidebar a {
	font-family: 'Roboto';
	font-size: 18px;
	color: #FFFFFF;
	display: block;
	padding: 16px;
	border-bottom: 1px solid #FFFFFF;
	text-decoration: none;
}

.service-history .sidebar-table a.active {
	background-color: #146371;
	color: #FFFFFF;
}

.service-history .sidebar-table .sidebar a:hover:not(.active) {
	background-color: #146371;
	color: white;
}

.service-history .sidebar-table .customer-table {
	margin-bottom: 15px;
}

.service-history .sidebar-table .table {
	width: 845px;
	border: 1.2px solid #E1E1E1 !important;
}

.service-history .sidebar-table .customer-table .row {
	padding-bottom: 10px;
}

.service-history .sidebar-table .customer-table .service-history-text {
	font-family: 'Roboto';
	color: #646464;
	font-size: 22px;
	text-align: left;
}

.service-history .sidebar-table .customer-table .export-btn-text {
	text-align: right;
}

.service-history .sidebar-table .customer-table .export-btn-text .button-export {
	font-family: 'Roboto';
	font-size: 14px;
	color: #FFFFFF;
	background-color: #146371;
	border-radius: 17px;
	border: 1px solid #146371;
	width: 70px;
	height: 34px;
	text-align: center;
}

.service-history .sidebar-table .table thead {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: left;
	color: #646464;
	opacity: 1;
	letter-spacing: 0px;
	background: #F9F9F9 !important;
}

.service-history .sidebar-table .table.dataTable thead .sorting{
    background-image: none !important;
    background-size: 12px;
}

.customer-table table.dataTable thead .sorting .sort-img{
    content: url(../images/sort.png);
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.customer-table table.dataTable thead .sorting_asc .sort-img{
    content: url(../images/upsort.jpg);
    width: 7px;
    height: 14px;
    margin-left: 5px;
}

.customer-table table.dataTable thead .sorting_desc .sort-img{
    content: url(../images/downsort.jpg);
    width: 7px;
    height: 14px;
    margin-left: 12px;
}

.service-history .sidebar-table .table tbody tr td {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: left;
	color: #646464;
	opacity: 1;
	padding-left: 10px;
	letter-spacing: 0px;
}

.service-history .sidebar-table .table tbody tr, td {
	background: #FFFFFF !important;
}

.service-history .sidebar-table .table tbody, td, tfoot, th, thead, tr {
    border-style: none;
	vertical-align: middle;
	border-bottom: 1.2px solid #E1E1E1 !important;
}

.service-history .sidebar-table .customer-table .table tbody .round-border {
	padding: 7px 2px;
	border: 1.2px solid #9C9C9C;
	border-radius: 50%;
}

.service-history .sidebar-table .customer-table .table tbody .txt-color {
	font-family: 'Roboto';
	font-size: 23px;
	color: #207C8E;
}

.service-history .sidebar-table .table .btn-completed {
	font-family: 'Roboto';
	font-size: 13px;
	color: #FFFFFF;
	text-align: center;
	width: 82px;
	height: 22px;
	background: #67B644;
	border: 1px solid #67B644;
}

.service-history .sidebar-table .table .btn-cancelled {
	font-family: 'Roboto';
	font-size: 13px;
	color: #FFFFFF;
	text-align: center;
	width: 76px;
	height: 22px;
	background: #ff6b6b;
	border: 1px solid #ff6b6b;
}

.service-history .sidebar-table .table .btn-ratesp {
	font-family: 'Roboto';
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	width: 70px;
	height: 34px;
	border-radius: 17px;
	background: #6DA9B5;
	border: 1px solid #6DA9B5;
}

.dataTables_length label {
	margin-top: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	width: 38px;
	height: 38px;
	border-radius: 19px;
	color: #FFFFFF !important;
	margin: 0px 0px !important;
	padding: 5px 5px;
	text-align: center;
	border: 1px solid #1D7A8C !important;
	background: #1D7A8C !important;
}



/* service-history end page */


/* user-management and Service Requests start page */

.navbar-admin {
	background-color: #1FB6FF;
	height: 60px;
}

.navbar-admin .navbar-collapse {
	padding-right: 15px;
}

.navbar-admin .navbar-brand {
	padding: 0px 0px !important;
}

.navbar-admin .navbar-brand .navbar-title {
	color: #FFFFFF;
	font-size: 38px;
	padding-left: 15px;
}

.navbar-admin .navbar-collapse .navbar-nav .nav-item .nav-link .username-text {
	font-family: 'Roboto';
	font-size: 16px;
	color: #FFFFFF;
}

.admin {
	margin-top: 60px;
}

.admin .max-width {
	max-width: 1560px;
	margin: auto;
}

.admin .sidebar-table {
	display: flex;
	justify-content: center;
}

.admin .sidebar-table .sidebar {
	margin: 0;
	padding: 0;
	width: 273px;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #E1E1E1;
	border-top: none;
}

.admin .sidebar-table .sidebar .accordion .accordion-item {
	border: none;
	border-bottom: 1px solid #E1E1E1;
}

.admin .sidebar-table .sidebar .accordion .accordion-item .accordion-button {
	width: 271px;
	height: 57px;
	font-family: 'Roboto';
	font-size: 16px;
	color: #646464;
	padding: 16px;
}

.admin .sidebar-table .sidebar .accordion .accordion-button:focus {
    border: none;
    box-shadow: none;
}

.admin .sidebar-table .sidebar .accordion .accordion-item .accordion-body {
	font-family: 'Roboto';
	font-size: 15px;
	color: #646464;
	padding: 0px;
}

.admin .sidebar-table .sidebar .accordion .accordion-button {
    background-color: #FFFFFF;
}

.admin .sidebar-table .sidebar .accordion .accordion-button:not(.collapsed) {
    background-color: #F9F9F9;
}

.admin .sidebar-table .sidebar .accordion .accordion-button::after{
    flex-shrink: 0;
    width: 20px;
    height: 10px;
    content: "";
    background-image: url("../images/admin-small-arrow.png");
	transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.admin .sidebar-table .sidebar .accordion .accordion-button::before{
	display: none;
}

.admin .sidebar-table .sidebar .accordion .accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
}

.admin .sidebar-table .sidebar .subnav {
	font-family: 'Roboto';
	font-size: 15px;
	color: #646464;
	list-style: none;
	background: #F9F9F9;
	margin: 0px;
}

.admin .sidebar-table .sidebar .menu {
	font-family: 'Roboto';
	font-size: 16px;
	color: #646464;
	display: block;
	padding: 16px;
	border-bottom: 1px solid #E1E1E1;
	text-decoration: none;
}

.admin .sidebar-table .sidebar .accordion .accordion-item .accordion-body .sabmenu {
	font-family: 'Roboto';
	font-size: 15px;
	color: #646464;
	display: block;
	padding: 16px;
	text-decoration: none;
}

.admin .sidebar-table .menu.active {
	color: #1FB6FF;
}

.admin .sidebar-table .sidebar .menu:hover:not(.active) {
	color: #646464;
}

.admin .sidebar-table .customer-table {
	padding: 0px 20px;
	width: 1287px;
	background: #F2F4F5;
}

.admin .sidebar-table .customer-table .row {
	margin: 0px 0px;
}

.admin .sidebar-table .customer-table .admin-text {
	font-family: 'Roboto';
	color: #646464;
	font-size: 22px;
	text-align: left;
	margin: 29px 0px 14px 0px;
	padding: 0px 0px;
}

.admin .sidebar-table .customer-table .addnew-btn-text {
	text-align: right;
	margin: 24px 0px 10px 0px;
	padding: 0px 0px;
}

.admin .sidebar-table .customer-table .button-addnew {
	font-family: 'Roboto';
	font-size: 14px;
	width: 132px;
	height: 36px;
	color: #FFFFFF;
	background: #1FB6FF;
	border: #1FB6FF;
	border-radius: 4px;
}

.admin .sidebar-table .customer-table .user-inputs {
	padding: 20px 15px;
	background: #FFFFFF;
	border: 1px solid #E1E1E1 !important;
}

.admin .sidebar-table .customer-table .user-inputs .nav {
	justify-content: space-between;
}

.admin .sidebar-table .customer-table .user-inputs .nav .nav-item {
	padding: 0px 0px;
}

.admin .sidebar-table .customer-table .user-inputs .nav .input-group-text {
	color: #646464;
	background-color: #F3F3F3;
}

.admin .sidebar-table .customer-table .user-inputs .nav .nav-item input {
	height: 46px;
	margin-right: 5px;
	padding: 0px 0px 0px 10px;
	border: 1px solid #DEDDDD;
	border-radius: 4px;
}

.admin .sidebar-table .customer-table .user-inputs .nav .nav-item select {
	height: 46px;
	width: auto;
	font-family: 'Roboto';
	font-size: 16px;
	color: #A0A0A0;
	padding: 0px 0px 0px 5px;
	margin-right: 5px;
	border: 1px solid #DEDDDD;
}

.admin .sidebar-table .customer-table .btn-search {
	font-family: 'Roboto';
	font-size: 16px;
	color: #FFFFFF;
	width: 84px;
	height: 46px;
	margin-right: 5px;
	border-radius: 4px;
	background: #1FB6FF;
	border: 1px solid #1FB6FF;
}

.admin .sidebar-table .customer-table .btn-clear {
	font-family: 'Roboto';
	font-size: 16px;
	color: #646464;
	width: 84px;
	height: 46px;
	margin-right: 5px;
	border-radius: 4px;
	background: #FFFFFF;
	border: 1px solid #DEDDDD;
	border-radius: 4px;
}

.admin .sidebar-table .table {
	margin: 20px 0px;
	border: 1px solid #E1E1E1 !important;
}

.admin .sidebar-table .table thead {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: left;
	color: #646464;
	opacity: 1;
	letter-spacing: 0px;
	background: #F9F9F9 !important;
}

.admin .sidebar-table .table.dataTable thead .sorting{
    background-image: none !important;
	background-size: 14px;
}

.admin .sidebar-table .customer-table table.dataTable thead .sorting .sort-img{
    content: url(../images/sort.png);
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.admin .sidebar-table .customer-table table.dataTable thead .sorting_asc .sort-img{
    content: url(../images/upsort.jpg);
    width: 7px;
    height: 14px;
    margin-left: 5px;
}

.admin .sidebar-table .customer-table table.dataTable thead .sorting_desc .sort-img{
    content: url(../images/downsort.jpg);
    width: 7px;
    height: 14px;
    margin-left: 12px;
}

.admin .sidebar-table .table tbody tr td {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: left;
	color: #646464;
	opacity: 1;
	padding-left: 10px;
	letter-spacing: 0px;
}

.admin .sidebar-table .customer-table .table tbody .round-border {
	padding: 7px 2px;
	border: 1.2px solid #9C9C9C;
	border-radius: 50%;
}

.admin .sidebar-table .table tbody tr, td {
	background: #FFFFFF !important;
}

.admin .sidebar-table .table tbody, td, tfoot, th, thead, tr {
    border-style: none;
	vertical-align: middle;
	text-align: left;
	border-bottom: 1.2px solid #E1E1E1 !important;
}

.admin .sidebar-table .customer-table .table .btn-active {
	font-family: 'Roboto';
	font-size: 13px;
	color: #FFFFFF;
	width: 58px;
	height: 24px;
	background: #67B644;
	border: 1px solid #67B644;
}

.admin .sidebar-table .customer-table .table .btn-inactive {
	font-family: 'Roboto';
	font-size: 13px;
	color: #FFFFFF;
	width: 62px;
	height: 24px;
	background: #FF6B6B;
	border: 1px solid #FF6B6B;
}

.admin .sidebar-table .customer-table .table .btn-new {
	font-family: 'Roboto';
	font-size: 13px;
	color: #FFFFFF;
	width: 45px;
	height: 24px;
	background: #F2BB37;
	border: 1px solid #F2BB37;
}

.admin .sidebar-table .customer-table .table .btn-pending {
	font-family: 'Roboto';
	font-size: 13px;
	color: #FFFFFF;
	width: 62px;
	height: 24px;
	background: #1FB6FF;
	border: 1px solid #1FB6FF;
}

.admin .sidebar-table .customer-table .table .btn-completed {
	font-family: 'Roboto';
	font-size: 13px;
	color: #FFFFFF;
	width: 78px;
	height: 24px;
	background: #67B644;
	border: 1px solid #67B644;
}

.admin .sidebar-table .customer-table .table .btn-cancelled {
	font-family: 'Roboto';
	font-size: 13px;
	color: #FFFFFF;
	width: 78px;
	height: 24px;
	background: #FF6B6B;
	border: 1px solid #FF6B6B;
}

.admin .sidebar-table .customer-table .table .dropdown-toggle::after {
	display: none;
}

.admin .sidebar-table .customer-table .rights-content {
	margin: 22px 0px;
}

.admin .sidebar-table .customer-table .rights-content .rights {
	font-family: 'Roboto';
	font-size: 14px;
	color: #A2A6A8;
}

/* user-management and Service Requests end page */


/* book-service start page */

.book-service {
	margin-bottom: 10px;
}

.book-service .max-width {
	max-width: 1560px;
	margin: auto;
}

.book-service .bookservice-content .bookservice-area .faq-tab .nav-link.active {
	background: #1D7A8C;
	font-family: 'Roboto';
	font-size: 18px;
	color: #FFFFFF;
	border-radius: 0px;
	height: 67px;
}

.book-service .bookservice-content .bookservice-area .faq-tab .nav-link:not(.active) {
	background: #F3F3F3;
	font-family: 'Roboto';
	font-size: 18px;
	color: #646464;
	border-radius: 0px;
	height: 67px;
}

.book-service .bookservice-content .bookservice-area .faq-tab .nav-link.active .black {
	display: none;
}

.book-service .bookservice-content .bookservice-area .faq-tab .nav-link:not(.active) .white {
	display: none;
}

.book-service .bookservice-content .bookservice-area .faq-tab .nav-link.active .white {
	margin-right: 2px;
}

.book-service .bookservice-content .bookservice-area .faq-tab .nav-link:not(.active) .black {
	margin-right: 2px;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .text-1 {
	font-family: 'Roboto';
	font-size: 16px;
	color: #4F4F4F;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .input-element {
	width: 160px;
	height: 35px;
	font-family: 'Roboto';
	font-size: 14px;
	height: 35px;
	color: #646464;
	border: 1px solid #E1E1E1;
	padding: 0px 10px;
	margin: 16px 10px 0px 0px;
}

.book-service .extra-service {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.book-service .extra-service .extra-content {
	display: inline-block;
	width: 140px;
	justify-content: center;
	margin: 16px auto;
}
.book-service .extra-image {
	width: 108px;
	height: 108px;
	display: flex;
	justify-content: center;
	border: 1px solid;
	border-radius: 64px;
	margin: auto;
}
.book-service .extra-image img {
	margin: auto;
}
.book-service .extra-text {
	text-align: center;
}
.book-service .extra-content .extra-text-1 {
	font-family: 'Roboto';
	font-size: 16px;
	color: #646464;
	text-align: center;
	opacity: 1;
}
.book-service .extra-content .extra-text-2 {
	font-family: 'Roboto';
	font-size: 18px;
	color: #1D7A8C;
	text-align: center;
	opacity: 1;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .service-comment {
	width: 100%;
	border: 1px solid #C8C8C8;
	border-radius: 4px;
	margin: 10px 0px;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .checkbox {
	width: 18px;
	height: 18px;
	border: 1px solid #C8C8C8;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .checkbox-text {
	font-family: 'Roboto';
	font-size: 16px;
	color: #4F4F4F;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .continue-right {
	text-align: right;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .continue {
	font-family: 'Roboto';
	font-size: 20px;
	color: #FFFFFF;
	background: #1D7A8C;
	border-radius: 23px;
	border: 1px solid #1D7A8C;
	width: 150px;
	height: 46px;
	text-align: center;
	align-content: right;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .postalcode-check .postalcode {
	font-family: 'Roboto';
	font-size: 14px;
	color: #4F4F4F;
	width: 250px;
	height: 46px;
	border-radius: 2px;
	border: 1px solid #8D8D8D;
	padding-left: 10px;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content .postalcode-check .check-avail {
	font-family: 'Roboto';
	font-size: 14px;
	color: #FFFFFF;
	background: #1D7A8C;
	border-radius: 23px;
	border: 1px solid #1D7A8C;
	width: 150px;
	height: 46px;
}

.book-service .bookservice-content .bookservice-area .faq-tab .tab-content select {
	font-family: 'Roboto';
	font-size: 14px;
	height: 35px;
	color: #646464;
	border: 1px solid #E1E1E1;
	padding: 0px 10px;
	margin: 16px 10px 16px 0px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .payment-card {
	max-width: 360px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 7px #00000059;
	opacity: 1;
}

.book-service .bookservice-content .bookservice-area .payment-summary .payment-header {
	font-family: 'Roboto';
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	padding: 15px 15px;
	background: #1D7A8C;
	height: 67px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .payment-text1 {
	font-family: 'Roboto';
	padding: 20px 20px;
	border-bottom: 1px solid #C8C8C8;
}

.book-service .bookservice-content .bookservice-area .payment-summary .text-1 {
	font-size: 16px;
	color: #4F4F4F;
	margin: 0px 0px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .payment-text1 .textline-1 {
	margin-bottom: 10px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .text-2 {
	font-size: 18px;
	color: #646464;
	margin: 0px 0px;
}
.book-service .bookservice-content .bookservice-area .payment-summary .underline {
	background: #E1E1E1;
	height: 1px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .payment-text2 {
	font-family: 'Roboto';
	padding: 20px 20px;
	border-bottom: 1px solid #C8C8C8;
}

.book-service .bookservice-content .bookservice-area .payment-summary .text-3 {
	font-size: 16px;
	color: #646464 !important;
}

.book-service .bookservice-content .bookservice-area .payment-summary .payment-text3 {
	font-family: 'Roboto';
	padding: 20px 20px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .payment-text4 {
	font-family: 'Roboto';
	padding: 12px 20px;
	background: #F3F3F3;
}

.book-service .bookservice-content .bookservice-area .payment-summary .text-4 {
	font-size: 20px;
	color: #1D7A8C;
	margin: 15px 0px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .text-5 {
	font-size: 42px;
	color: #1D7A8C;
}

.book-service .bookservice-content .bookservice-area .payment-summary .text-6 {
	font-size: 20px;
	color: #646464;
}

.book-service .bookservice-content .bookservice-area .payment-summary .text-7 {
	font-size: 14px;
	color: #646464;
	margin: 10px 0px 0px 0px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .text-8 {
	font-size: 14px;
	color: #8D8D8D;
	margin: 0px 0px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .questions {
	max-width: 360px;
	margin: 26px 0px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .questions .questions-header {
	font-family: 'Roboto';
	font-size: 24px;
	text-align: center;
	color: #4F4F4F;
}

.book-service .bookservice-content .bookservice-area .payment-summary .questions .accordion .accordion-item {
	border-bottom: 1px solid #E1E1E1;
}

.book-service .bookservice-content .bookservice-area .payment-summary .questions .accordion .accordion-button {
	font-family: 'Roboto';
	font-size: 14px;
	color: #4F4F4F;
	padding: 12px 0px 12px 0px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .questions .accordion .accordion-body {
	font-family: 'Roboto';
	font-size: 15px;
	color: #646464;
}

.book-service .bookservice-content .bookservice-area .payment-summary .accordion .accordion-button::before{
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    content: "";
    background-image: url("../images/keyboard-right-arrow-button.png");
    background-repeat: no-repeat;
    background-size: 1rem;
	transform: rotate(-90deg);
    transition: transform .2s ease-in-out;
    margin-right: 5px;
}

.book-service .bookservice-content .bookservice-area .payment-summary .accordion .accordion-button::after{
	display: none;
}

.book-service .bookservice-content .bookservice-area .payment-summary .accordion .accordion-button:not(.collapsed)::before {
    transform: rotate(0deg);
}

.book-service .bookservice-content .bookservice-area .payment-summary .questions .for-more-help {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: left;
	color: #1D7A8C;
	margin: 18px 0px 55px 0px;
}

/* book-service end page */